<p id="notice"><%= notice %></p>
<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="studysheet-text">
      <p class="left"><strong>タイトル</strong></p>
      <p class="left"><%= @studysheet.title %></p>
      <p class="left"><strong>内容</strong></p>
      <p class="left"><%= @studysheet.content %></p>
      <p class="left"><strong>作成者</strong></p>
      <p class="left"><%= @studysheet.user.name %></p>
      <p class="right">
        <strong>作成時間:</strong>
        <%= @studysheet.created_at.strftime("%y/%m/%d %p %l:%M") %>
      </p>
    </div>
    <p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, studysheet: @studysheet } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, studysheet: @studysheet } %>
    <% if current_user.id == @studysheet.user_id %>
      <%= link_to '編集', edit_studysheet_path(@studysheet) %> |
    <% end %>
    <%= link_to '戻る', studysheets_path %>
  </div>
</div>
